@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(7, 8, 8);
    background:  linear-gradient(180deg ,#007DC9,  white );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(9, 10, 10);
    background:  linear-gradient(180deg ,#007DC9,  white );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
  }
}
